@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700');

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

:root {
    --bg: #060621;
    --text: #dfe1f9;
    --primary: #8585e8;
    --secondary: #841955;
    --accent: #d72d37;
}

p, a {
    color: var(--text);
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.alert {
    height: fit-content;
    width: 35vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: thin solid var(--primary);
}

.alert > h3 {
    width: 100%;
    color: var(--text);
    margin: 0 0 8px 0;
    font-size: 1.3rem;
}

.alert > p {
    margin: 0;
    font-size: 1rem;
}

.messages {
    height: 80vh;
    overflow-y: scroll;
}

.messages > .message {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.messages > .message > .name {
    margin-right: 8px;
}

.inputDiv {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inputDiv > .chatInput {
    height: 100%;
    width: 100%;
    resize: none;
    background-color: rgb(30, 30, 30);
    outline: none;
    border: none;
    font-family: "Open Sans", sans-serif;
    color: var(--text);
}

.inputDiv > button {
    height: fit-content;
    margin-top: auto;
}